.container-img {
    height: 30rem;
    border: black 1px solid;
    display: flex;
    justify-content: space-around;

}

#toggle-img {
    border: 1px solid black; /* Just to visualize the image's space */
    height:30rem;
}

.container-1 {
    height: 30rem;
    border: black 1px solid;
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.container-1 > div {
    border: 1px solid black; /* Just to visualize the image's space */
    height:30rem;
}

